
    <div class="card mb-2">

    {{#if this.saved}}
      <div class="card-header custom-hdr">
    {{else}}
      <div class="card-header">
    {{/if}}

        <div class="mongo-article">
          <div class="row">
            <section class="col-md-9 col-xs-12">
              <h4>{{this.title}}</h4>
            </section>